<div class="row">
    <div class="span12 center">
        <h1 class="text-center">Messaging Terms & Conditions</h1>
    </div>
</div>
<div class="row">
    <div class="span6 offset3">
        <ol>
            <li>The AFDC messaging and notification program uses email and SMS to send messages about league openings, registration, and game cancellations.</li>
            <li>You can cancel the SMS service at any time. Just text "STOP" to the short code. After you send the SMS message "STOP" to us, we will send you an SMS message to confirm that you have been unsubscribed. After this, you will no longer receive SMS messages from us. If you want to join again, just sign up as you did the first time and we will start sending SMS messages to you again.</li>
            <li>If you are experiencing issues with the messaging program you can reply with the keyword HELP for more assistance, or you can get help directly at help@afdc.com.</li>
            <li>Carriers are not liable for delayed or undelivered messages</li>
            <li>As always, message and data rates may apply for any messages sent to you from us and to us from you. You will receive approximately one message per month, plus messages for canceled games (as many as one per game). If you have any questions about your text plan or data plan, it is best to contact your wireless provider.
            <li>If you have any questions regarding privacy, please read our <a href="/privacy">privacy policy</a>.</li>
            <li>Mobile numbers will not be shared or sold.</li>

    </div>
</div>