- if @leagues_registering.count + @leagues_running.count + @your_teams.count > 0
    %div{style: 'padding: 10px; border: 1px solid #ddd; background-color: #f8f8f8; min-height: 240px;'}
        %h4 Leagues
        - unless @leagues_running.empty?
            %ul{style: 'margin-bottom: 20px;'}
                - @leagues_registering.each do |l|
                    %li{style: 'font-weight: bold'}
                        =link_to l.name, l
                        - if l.registration_open?
                            (#{link_to 'Register', register_league_path(l)})
                - @leagues_running.each do |l|
                    %li=link_to l.name, l

        - unless @your_teams.empty?
            %h4 Your Teams
            %ul{style: 'margin-bottom: 20px;'}
                - @your_teams.each do |t|
                    %li=link_to t.name, t
- else
    %h4 Leagues
    .well No current leagues, check out #{link_to('our blog', 'http://www.afdc.com/')} for more information!