%h4 Partners, Sponsors, and Friends
%ul
    %li=link_to "Andy Grimes and The Pickle", "http://thepickleatl.com/pickle/"
    %li=link_to "Christina Schmidt Photography", "http://www.facebook.com/cuschmidtphotography"
    %li=link_to "Georgia Soccer Park", "http://www.georgiasoccerpark.com/"
    %li=link_to "Spin Ultimate", "http://www.spinultimate.com/"
    %li=link_to "Sweetwater Brewing Company", "http://sweetwaterbrew.com/"
    %li=link_to "The Midway Pub", "http://www.themidwaypub.com/"
    %li=link_to "Manuels Tavern", "http://www.manuelstavern.com/"
