%div{style: 'padding: 10px;'}
    %h4 Getting Started
    %p
        If you're new around here, things might be a bit confusing the first time you register.
        Rest assured that any problem you are facing, someone has likely experienced before.
    %p
        Email help@afdc.com if you need assistance.
    %ul
        - # %li= link_to 'Tutorial: Signing up for leagues.afdc.com', 'http://toomuchpete.clarify-it.com/d/fvm4pl'
        - # %li= link_to 'Tutorial: Reset or change your password', 'http://toomuchpete.clarify-it.com/d/dh9xta'
        - # %li= link_to 'Tutorial: Updating your gRank', 'http://toomuchpete.clarify-it.com/d/ddna6c'
        - # %li= link_to 'Tutorial: Registering for a league', 'http://toomuchpete.clarify-it.com/d/9lhk4h'
        - # %li= link_to 'Tutorial: Pairing with another player', 'https://docs.google.com/document/d/1SMOyrNxigKO__k5eSKrKo9DJ0W3YBEVHHbwnZAuSTrE/edit?usp=sharing'
