- if @group.errors.any?
    - errors = @group.errors
    .alert.alert-error
        The group could not be saved
- else
    - errors = Hash.new([])

= form_for @group, html: {class: 'form-horizontal'} do |f|
    .control-group{ class: ('error' if errors[:name].any?)}
        %label.control-label{for: 'comp_group_name'} Group Name
        .controls
            =f.text_field :name
            - if errors[:name].any?
                %span.help-inline=errors[:name].first

    = render partial: '/user_multiselect', locals: {form: f, fieldname: 'member_ids', label: "Included Users", users: @group.members}

    .control-group{ class: ('error' if errors[:description].any?)}
        %label.control-label Description
        .controls
            =f.text_area :description, class: "span4", rows: 10
            - if errors[:description].any?
                %span.help-inline=errors[:description].first
    .form-actions
        %button.btn.btn-large.btn-primary=@group.new_record? ? "Create Group" : "Update Group"


