- content_for :title, 'Comp Groups'
= render :partial => '/pageheader', :locals => {subtitle: @group.name, breadcrumbs: {'Comp Groups' => comp_groups_path, @group.name => comp_group_path(@group), 'Edit Group' => nil}}

= render :partial => 'form', :locals => {league: @group}