
- if leagues.count > 0
    %h3=title

    %table.table.table-striped
        %thead
            %tr
                %th{width: '50%'} League Name
                %th Registration Opens
                %th Play Begins
        %tbody
            - leagues.each do |l|
                %tr
                    %td=link_to l.name, league_path(l)
                    %td=l.registration_open.strftime('%a %b %-d, %Y') if l.registration_open
                    %td=l.start_date.strftime('%a %b %-d, %Y') if l.start_date
