user_id,pair_id,draft_id,team_id,status,official_rank,self_rank,firstname,lastname,email,gender,availability,notes,birthdate,height,EOST
- @registrations.each do |reg_item|
    - if reg_item.is_a? Registration
        - r = reg_item
    - else
        - r = Registraiton.find(reg_item)
    - next unless r
    - row = []
    - row << r.user_id
    - row << (Digest::MD5.hexdigest [r.user_id, r.pair_id].sort.join('_') if r.pair)
    - row << nil
    - row << r.league.team_for(r.user).try(:_id)
    - row << r.status
    - row << r.rank
    - row << r.self_rank
    - row << r.user_data['firstname']
    - row << r.user_data['lastname']
    - row << r.user.email_address
    - row << r.gender
    - row << r.gen_availability
    - row << r.notes
    - row << r.user.age
    - row << r.user_data['height']
    - row << r.eos_availability
    = raw row.to_csv(row_sep: nil)
