
.row#forgot-password
  .col-lg-offset-3.col-sm-6.col-md-6{style: 'margin: 20px 50px 50px 20px'}
    %h2 Reset Password
    = form_tag reset_password_path, method: 'POST', class: 'form-horizontal' do
      .form-group
        %label.control-label Email Address
        .controls
          = text_field_tag :email_address
      .controls
        %button.btn.btn-primary Send Reset
        = link_to "Return to Login", auth_path, class: 'btn'
        
