
.row#forgot-password
    .span6.offset3{style: 'margin-top: 20px'}
        %h3 Reset Password
        = form_tag reset_password_path, method: 'POST', class: 'form-horizontal' do
            .control-group
                %label.control-label Email Address
                .controls
                    = text_field_tag :email_address
            .controls
                %button.btn.btn-primary Send Reset
                = link_to "Return to Login", auth_path, class: 'btn'
        
