%p #{@user.firstname},

%p A new password for leagues.afdc.com has been requested.

%p.center
    Your new password is:
    %strong=@new_pw

%p If you have any problems, please contact help@afdc.com

- content_for :callout_box do
    visit
    =link_to auth_url, auth_url
    to log in with your new password!
