- content_for :title, @league.name
= render :partial => '/pageheader', locals: {subtitle: "Edit #{@league.core_type.capitalize}", breadcrumbs: {'Leagues' => leagues_path, @league.name => @league, @league.core_type.capitalize.pluralize => league_registration_groups_path, 'Edit Group' => nil}}

= render :partial => 'form'
