- content_for :title, @league.name
= render :partial => '/pageheader', locals: {subtitle: "Create #{@league.core_options.type.capitalize}", breadcrumbs: {'Leagues' => leagues_path, @league.name => @league, @league.core_options.type.capitalize.pluralize => league_registration_groups_path, 'Create New' => nil}}

= render :partial => 'form'
