ul#registrants li {
  cursor: pointer;
  overflow: hidden;
  padding: 2px;
}

ul#registrants li div.pic {
  float: left;
  margin-right: 5px;
  width: 42px;
}

ul#registrants li div.userdata {
  float: left;
  width: 610px;
  margin-right: 5px;
  overflow: hidden;
}

ul#registrants li div.userdata div.col {
  display: inline-block;
  width: 145px;
  margin-right: 5px
}

ul#registrants li div.userdata div.main {
  clear: left;
  width: 185px;
}

ul#registrants li {
  border-top: 1px solid #DDD;
}

ul#registrants li:nth-child(odd)  { background-color: #F9F9F9; }
ul#registrants li:nth-child(even) { background-color: #ffffff; }

ul#registrants li.registrant-row:hover {
  background-color: #cdb;
}

#player-details.affix {
  top: 55px;
  width: 170px;
}

span.label.female {
  font-family: monospace;
  background-color: #B94A48;
}
span.label.male {
  font-family: monospace;
  background-color: #3A87AD;
}

i.collapser {
  cursor: pointer;
}

span.grank-history {
  background-color: #ddd;
}
