%p #{@user.firstname},

%p
  Your registration has been accepted for #{link_to(@league.name, league_url(@league))}, but you are not yet active in the league.
  In order to join the league, you must pay your registration fee. <strong>If you don't pay within 48 hours, you could lose
  your spot in the league!</strong>

%table.large-button.success.round{style:"margin-top: 10px; margin-bottom: 10px;"}
  %tr
    %td
      =link_to "CLICK HERE TO PAY NOW", pay_registration_url(@registration)

%p
  If you have any questions, please contact the league commissioner. For technical issues or
  questions, please contact help@afdc.com

%p
  %strong Thank you for registering to play with the Atlanta Flying Disc Club!

- if @league.allow_pairs?
  - content_for :callout_box do
    %strong A note about pairs:
    This league allows players to pair up to guarantee that they will be on the same team. The only way to ensure that your pair
    request will be respected is if you <a href="http://toomuchpete.clarify-it.com/d/pqewtm">use the official pairing system</a>.
    Requests made to the commissioner or in the notes field of your registration cannot be guaranteed.
