%p #{@user.firstname},

%p
  Your spot to register in #{link_to(@league.name, league_url(@league))} has expired because you did not complete your
  in time. Please return to the league page to complete your registration if you wish to play.

%p
  If you have any questions, please contact the league commissioner. For technical issues or
  questions, please contact help@afdc.com

%p
  %strong Thank you for registering to play with the Atlanta Flying Disc Club!
