%p #{@user.firstname},

%p
  It's been 48 hours since your registration was accepted into #{link_to(@league.name, league_url(@league))} and we have not yet 
  received your payment. In order to make room for other players, your registration has been returned to the 'pending' status and 
  you've been moved to the back of the line.

%p
  If there is room left in the league, you will be re-accepted at some point in the future. Keep an eye out for further emails!

%p
  If you have any questions, please contact the league commissioner. For technical issues or
  questions, please contact the webmaster at webmaster@afdc.com

%p
  %strong Thank you for registering to play with the Atlanta Flying Disc Club!
