%p #{@user.firstname},

%p 
  You've requested that we notify this email address in the 
  event of league news (like a rain-out). We're sending this
  message to verify that this address exists!

%p If this all sounds right to you... 

%table.large-button.success.round{style:"margin-top: 10px; margin-bottom: 10px;"}
  %tr
    %td
      =link_to "CLICK HERE TO VERIFY YOUR ADDRESS", confirm_user_notification_method_url(@user, @notification_method, confirmation_code: @notification_method.confirmation_code)

%p If you have any problems, please contact help@afdc.com. To manage your notifications, you can visit #{link_to('your profile', user_notification_methods_url(@user))}.

- content_for :callout_box do
  If the link doesn't work, please enter this confirmation code:
  %strong=@notification_method.confirmation_code
