%h1 DON'T FREAK OUT

%p We're sorry for the inconvenience, but paypal checkout is temporarily disabled due to traffic volume. 

%p
    %strong We will honor your registration timestamp rather than your payment timestamp so long as you complete your payment by the end of the week. 

%p Please check back tomorrow to see if PayPal checkout has returned!