%p #{@invite.sender.name} & #{@invite.recipient.name}:

%p
  Nice job! You're paired up for #{link_to(@league.name, league_url(@league))}!

- content_for :callout_box do
  %b REMEMBER:
  %p 
    Pairing only counts if both players are in the league. Pairing with someone
    on the waitlist does not guarantee that person a spot in the league.