%p #{@invite.recipient.name}:

%p
  You have received a request to pair with #{link_to(@invite.sender.name, user_url(@invite.sender))}
  for #{link_to(@league.name, league_url(@league))}.

%p 
  In order for this request to be honored by the league, you must also choose to pair with them.
  If you'd rather not pair with this person, you can ignore or decline the invite.

- content_for :callout_box do
  - if recipient_reg = @league.registration_for(@invite.recipient)
    Click
    =link_to "here", edit_registration_path(recipient_reg)
    to edit your registration for
    =@league.name
  - else     
    Click
    =link_to "here", register_league_path(@league)
    to register for 
    =@league.name
