- msg = 'No Results Found' if local_assigns[:msg].nil?
%div.well{style: 'text-align: center; margin: 20px 10px'}
  %div{style: 'font-size: 128px;'}
    %i.icon-remove-sign
  %div{style: 'font-weight: bold;'}
    =msg
