.page-header{:style => 'margin-bottom: 10px;'}
	%h1
		= yield(:title)
		- if local_assigns.has_key? :subtitle
			%small= subtitle
	- if local_assigns.has_key? :breadcrumbs
		%ul.breadcrumb{:style => 'margin-bottom: 0px;'}
			%li= link_to 'Home', '/'
			- breadcrumbs.each do |crumb, link|
				%li
					%span.divider /
					- if link.nil?
						=crumb
					- else
						=link_to crumb, link

