.page-header{:style => 'margin-bottom: 10px;'}
	%h1
		= yield(:title)
		%small= subtitle
	- if local_assigns.has_key?(:breadcrumbs)
		%ul.breadcrumb{:style => 'margin-bottom: 0px;'}
			%li= link_to 'Home', '/'
			- breadcrumbs.each do |crumb, link|
				%li
					%span.divider /
					= link_to crumb, link

